# This file must *NOT* be checked into Version Control Systems,
# as it contains information specific to your local configuration.

# location of the Android SDK.
sdk.dir=C:/Program Files (x86)/Android/android-sdk
# Mac/Linux
# sdk.dir=/Users/brinkmann/Development/adt-bundle-mac-x86_64-20130522/sdk

# location of the Android NDK.
ndk.dir=C:/Privat/Programming/android-ndk-r9
# Mac/Linux
# ndk.dir=/Users/brinkmann/Development/android-ndk-r9

# Path of where to store native modules.
ndk.module.path=C:/Privat/Programming/Patchfield/patchfield
# Mac/Linux
# ndk.module.path=/Users/brinkmann/Documents/patchfield
