<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.noisepages.nettoyeur.patchfield.control"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <permission
        android:name="com.noisepages.nettoyeur.patchfield.service.USE_PATCHFIELD"
        android:protectionLevel="normal" >
    </permission>

    <uses-permission android:name="com.noisepages.nettoyeur.patchfield.service.USE_PATCHFIELD" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="com.noisepages.nettoyeur.patchfield.service.PatchfieldService"
            android:permission="com.noisepages.nettoyeur.patchfield.service.USE_PATCHFIELD" >
            <intent-filter>
                <action android:name="IPatchfieldService" >
                </action>
            </intent-filter>
        </service>

        <activity
            android:name="com.noisepages.nettoyeur.patchfield.control.ControlActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>